src/Node-RED/Old/node_red_icowcare_first flow.json
[
    {
        "id": "9b9ee4237f925aa2",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "abf7079a.653be8",
        "type": "mqtt in",
        "z": "9b9ee4237f925aa2",
        "name": "",
        "topic": "esp32/temp_amb",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1100,
        "y": 60,
        "wires": [
            [
                "cc79021b.9a751",
                "21eae8f8.2971b8"
            ]
        ]
    },
    {
        "id": "cc79021b.9a751",
        "type": "debug",
        "z": "9b9ee4237f925aa2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1301,
        "y": 34,
        "wires": []
    },
    {
        "id": "4aecba01.78ce64",
        "type": "mqtt in",
        "z": "9b9ee4237f925aa2",
        "name": "",
        "topic": "esp32/accel_x",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 570,
        "y": 40,
        "wires": [
            [
                "22efa7b7.544a28",
                "df37e6b7.64c1c8"
            ]
        ]
    },
    {
        "id": "22efa7b7.544a28",
        "type": "debug",
        "z": "9b9ee4237f925aa2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 20,
        "wires": []
    },
    {
        "id": "21eae8f8.2971b8",
        "type": "ui_chart",
        "z": "9b9ee4237f925aa2",
        "name": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature Ambiante",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1331,
        "y": 94,
        "wires": [
            []
        ]
    },
    {
        "id": "df37e6b7.64c1c8",
        "type": "ui_gauge",
        "z": "9b9ee4237f925aa2",
        "name": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Acceleration_x",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b3d9",
            "#0073e6",
            "#001bd7"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 80,
        "wires": []
    },
    {
        "id": "019c43fed9ddd58e",
        "type": "mqtt in",
        "z": "9b9ee4237f925aa2",
        "name": "",
        "topic": "esp32/accel_y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 570,
        "y": 160,
        "wires": [
            [
                "1e3825af237875a3",
                "c8923b9c839a999f"
            ]
        ]
    },
    {
        "id": "1e3825af237875a3",
        "type": "debug",
        "z": "9b9ee4237f925aa2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 160,
        "wires": []
    },
    {
        "id": "c8923b9c839a999f",
        "type": "ui_gauge",
        "z": "9b9ee4237f925aa2",
        "name": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Acceleration_y",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b3d9",
            "#0073e6",
            "#001bd7"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 820,
        "y": 200,
        "wires": []
    },
    {
        "id": "24703f0e506e0d0f",
        "type": "mqtt in",
        "z": "9b9ee4237f925aa2",
        "name": "",
        "topic": "esp32/accel_z",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 570,
        "y": 260,
        "wires": [
            [
                "d8d511783233f807",
                "0caef0ad620ee153"
            ]
        ]
    },
    {
        "id": "d8d511783233f807",
        "type": "debug",
        "z": "9b9ee4237f925aa2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "0caef0ad620ee153",
        "type": "ui_gauge",
        "z": "9b9ee4237f925aa2",
        "name": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Acceleration_z",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b3d9",
            "#0073e6",
            "#001bd7"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 820,
        "y": 320,
        "wires": []
    },
    {
        "id": "b677f068ad94a190",
        "type": "mqtt in",
        "z": "9b9ee4237f925aa2",
        "name": "",
        "topic": "esp32/temp_obj",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1100,
        "y": 180,
        "wires": [
            [
                "e70ea95bd472f901",
                "423afa16abb67a5c"
            ]
        ]
    },
    {
        "id": "e70ea95bd472f901",
        "type": "debug",
        "z": "9b9ee4237f925aa2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1301,
        "y": 154,
        "wires": []
    },
    {
        "id": "423afa16abb67a5c",
        "type": "ui_chart",
        "z": "9b9ee4237f925aa2",
        "name": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature de la Vache",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1341,
        "y": 214,
        "wires": [
            []
        ]
    },
    {
        "id": "9e58624.7faaba",
        "type": "mqtt out",
        "z": "9b9ee4237f925aa2",
        "name": "",
        "topic": "esp32/output",
        "qos": "",
        "retain": "",
        "broker": "10e78a89.5b4fd5",
        "x": 990,
        "y": 420,
        "wires": []
    },
    {
        "id": "83cf37cf.c76988",
        "type": "ui_switch",
        "z": "9b9ee4237f925aa2",
        "name": "",
        "label": "Output",
        "tooltip": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 830,
        "y": 420,
        "wires": [
            [
                "9e58624.7faaba"
            ]
        ]
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "61285987.c20328",
        "type": "ui_group",
        "name": "Main",
        "tab": "e7c46d5e.a1283",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e7c46d5e.a1283",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard"
    }
]